.topbar-main {
  width: 100%;
  height: var(--topbar-height);
  background-color: var(--bg-primary);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0 0.8rem;
}
.topbar-main .menu {
  display: none;
  height: 1.4rem;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.topbar-main .options {
  height: 1.7rem;
  cursor: pointer;
}
.topbar-main > .name {
  flex: 1;
  text-align: center;
}
.topbar-main .bell {
  height: 1.5rem;
  transform: translate(-15%, 12%);
  filter: invert(1) opacity(0.1);
}
.topbar-main > .notfication {
  cursor: pointer;
}

@media all and (max-width: 650px) {
  .topbar-main .menu {
    display: block;
  }
}
