.topbar-main {
  width: 100%;
  height: var(--topbar-height);
  background-color: var(--bg-primary);

  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0 0.8rem;
}
.topbar-main > .menu-button {
  display: none;
  position: relative;
  height: 100%;
  cursor: pointer;
  padding: 15px;
  padding-left: 0;
}

.topbar-main >.menu-button > .red-dot {
position: absolute;
top: 27%;
right: 23%;
height: 12px;
width: 12px;
border-radius: 50%;
background-color: var(--color-error);
border: 2px solid var(--bg-primary);
animation: grow .5s forwards ease;
}
@keyframes grow {
  0%{
    scale: 0;
  }
  100%{
    scale: 1;
  }
}

.topbar-main >.menu-button > img {
height: 100%;
}

.topbar-main .options {
  height: 1.7rem;
  cursor: pointer;
}
.topbar-main > .name {
  flex: 1;
  text-align: center;
}
.topbar-main .bell {
  height: 1.5rem;
  transform: translate(-15%, 12%);
  filter: invert(1) opacity(0.1);
}
.topbar-main > .notfication {
  cursor: pointer;
}

@media all and (max-width: 650px) {
  .topbar-main .menu-button {
    display: block;
  }
}
