.chat-info {
  height: max-content;
  max-height: 90vh;
  width: 100%;
  border-radius: var(--radius1);
  background-color: var(--bg-primary);
  border: 1px solid var(--color-accent);

  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  gap: 0.4rem;

  padding:2rem;
}
.chat-info > .back-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}
.chat-info > .back-btn:active {
  scale: 0.9;
}

.chat-info > .user-image {
  height: 10rem;
  width: 10rem;
  align-self: center;
  margin-bottom: 0.6rem;
}
.chat-info .flex {
  display: flex;
  gap: 0.4rem;
}

.chat-info > .button-container {
  display: flex;
  width: 100%;

  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1rem;
}
.chat-info > .button-container .btn-image {
  height: 1.5rem;
  width: 1.5rem;
}
.chat-info .block {
  background-color: var(--color-error);
}

.chat-info > .group-members{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.chat-info > .group-members > .user-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .4rem;
  gap: 0.3rem;
  width: 66px;
}
.chat-info > .group-members > .user-item > .content3{
  width: 60px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}