.chatbar-main {
  height: 100%;
  width: 100%;
  max-width: 320px;
  background-color: var(--bg-primary);
  padding-bottom: 2rem;
  position: relative;
  overflow: auto;
  border-inline: 2px solid var(--bg-primary);
}
.chatbar-main > .heading {
  height: var(--topbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0;
  cursor: pointer;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg-primary);
  z-index: 10;
}
.chatbar-main > .heading > img {
  height: 2rem;
  width: 2rem;

  object-fit: cover;
  object-position: center;
  border-radius: var(--radius2);
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
.chatbar-main > .heading > .content1 {
  flex: 1;
}
.chatbar-main #hr {
  position: absolute;
  top: 100%;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to left,
    var(--color-accent),
    var(--color-accent2)
  );
  /* margin-bottom: 0.6rem; */
  z-index: 3;
}
.chatbar-main > .add-new {
  border-radius: 50px;
  height: 2.5rem;
  width: fit-content;
  padding: 0 1rem 0 0.2rem;
  margin: 1rem 0.4rem;
  background-color: var(--bg-secondary);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-inline: auto;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.804);
}
.chatbar-main > .add-new > img {
  height: 1.25rem;
}
.chatbar-main > .add-new > .content1 {
  font-weight: 500;
}
.chatbar-main > .all-chats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
}
.chatbar-main > .all-chats .unreadMessages {
  border-radius: 100%;
  /* background-color: var(--bg-secondary); */
  color: var(--color-primary);
  display: inline-flex;
  justify-content: center;
  align-content: center;
  font-weight: 500;
  width: 1.2rem;
  letter-spacing: 2px;
}

.chatbar-main .close {
  display: none;
  height: 1.2rem !important;
  margin-right: 1rem;
}
@media all and (max-width: 650px) {
  .chatbar-main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
  }
  .chatbar-main.active {
    transform: translateX(0%);
  }
  .chatbar-main .close {
    display: block;
  }
}
