.createchat-main {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 0.5rem;

  border: 1px solid var(--color);
  border-radius: var(--radius1);
  padding: 1rem;
  height: 500px;
  width: 100%;
  transition: 0.4s;
  overflow: hidden auto;
}
.createchat-main.group {
  --color: var(--color-accent2);
}
.createchat-main.personal {
  --color: var(--color-accent);
}
.createchat-main > .header3 {
  text-align: center;
  padding: 1rem 0 0.6rem;
}
.createchat-main > .group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.createchat-main > .search-user {
  position: relative;
}
.createchat-main .users {
  position: absolute;
  top: 102%;
  left: 0;
  background-color: var(--bg-secondary);
  border-radius: var(--radius2);
  padding: 0.5rem 0.25rem;
  width: 100%;
  height: max-content;
  max-height: 160px;

  overflow: hidden auto;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.createchat-main .users::-webkit-scrollbar-thumb {
  background: var(--color);
}

.createchat-main > .selected-users {
  width: 100%;
  padding: 1rem 0 0.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.createchat-main > .selected-users::-webkit-scrollbar {
  height: 2px;
}

.selected-user {
  width: 55px;
  padding: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  cursor: pointer;
  border-radius: var(--radius2);
  border: 1px solid #fff0;
}
.selected-user:hover {
  border: 1px solid var(--color-error);
}
.selected-user > img.user-image {
  width: 60%;
  aspect-ratio: 1 / 1;
}
.selected-user > .text-main {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* user option styles */
.useroption-main {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  border-radius: var(--radius2);
  padding: 0.2rem 0.6rem;
  gap: 0.6rem;
  background-color: var(--bg-primary);
  cursor: pointer;
}
.useroption-main > img {
  height: 2rem;
  border-radius: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.useroption-main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
