.button-main {
  outline: none;
  border: none;
  height: 2.8rem;
  padding: 0 1rem;
  margin: 0.8rem 0;
  border-radius: var(--radius2);
  cursor: pointer;
}
.button-main:active {
  scale: 0.96;
  outline: none;
  background-color: inherit;
}
.button-main.accent1 {
  background-color: var(--color-accent);
}
.button-main.accent2 {
  background-color: var(--color-accent2);
}
.button-main > * {
  color: var(--bg-primary) !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
