.input-main {
  --input-height: 2.8rem;
  --error-height: 1.2rem;
  --border: 1px;

  height: max-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.input-main.accent1 {
  --color: var(--color-accent);
}
.input-main.accent2 {
  --color: var(--color-accent2);
}
.input-main > .input-container {
  height: var(--input-height);
  position: relative;
}
.input-main > .input-container > .input-background {
  height: 100%;
  width: 100%;

  border-radius: var(--radius2);
  background-color: var(--color);

  clip-path: ellipse(64% 10% at 50% 100%);
  opacity: .5;
  transition: 0.5s;
}
.input-main.focused > .input-container > .input-background {
  clip-path: ellipse(64% 100% at 49% 58%);
  opacity: 1;
}
.input-main > .input-container > .placeholder {
  position: absolute;
  top: 50%;
  left: 0.6rem;
  transform: translateY(-50%);
  background-color: var(--bg-primary);
  color: var(--color);
  padding: 0 4px;
  border-radius: 4px;
  transition: 0.4s;
  font-size: 13px;
  pointer-events: none;
}
.input-main.focused > .input-container > .placeholder {
  top: 0;
  transform: translateY(-50%);
  font-size: 11px;
}
.input-main > .input-container > .placeholder.active {
  top: 0;
  transform: translateY(-50%);
  font-size: 11px;
}
.input-main > .input-container > input {
  height: calc(100% - (2 * var(--border)));
  width: calc(100% - (2 * var(--border)));
  border-radius: var(--radius2);
  padding: 0 0.8rem;

  position: absolute;
  top: var(--border);
  left: var(--border);
  border: none;
  outline: none;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  caret-color: var(--color);

  font-size: 13px;
  font-weight: 300;
}

.input-main > .error-message{
  display: flex;
  align-items: center;
  height: var(--error-height);
  padding-left: .8rem;
  color: var(--color-error);
}