.footer-main {
  background-color: var(--bg-secondary);
  
  height: fit-content;
  z-index: 10;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-main > .madeby {
  background-color: #000000;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main > .madeby > * {
  
  background: linear-gradient(
    to left,
    rgb(70, 98, 255),
    #cb2fff
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-main > .hr {
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to left,
    var(--color-accent),
    var(--color-accent2)
  );
}
