.message-panel {
  height: 100%;
  overflow: hidden scroll;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.8rem;
  /* padding-bottom: .25rem; */
}
.message-panel > .lottie-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1%;
  background-color: var(--bg-secondary);
}
.message-panel > .message-send {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding: 1vw;
}
.message-panel > .message-send > input {
  background-color: var(--bg-primary);
  outline: none;
  border: 1px solid #000;
  border-radius: var(--radius2);
  color: var(--color-accent2);
  padding: 0.8rem;
  flex: 1;
  transition: 0.25s;
}
.message-panel > .message-send > input:focus {
  border-bottom: 1px solid var(--color-accent2);
}

.message-panel > .message-send > button {
  border: none;
  background-color: var(--bg-primary);
  border-radius: 10rem;
  height: 3rem;
  width: 3rem;
  overflow: hidden;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.message-panel > .message-send > button > img {
  height: 60%;
}
.message-panel > .message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.4rem;
  flex: 1;
  overflow: hidden auto;
}
