.message-panel {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* gap: 0.8rem; */
  transition: 0.4s;
  /* padding-bottom: .25rem; */
}
.message-panel > .lottie-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1%;
  background-color: var(--bg-secondary);
}
.message-panel > .read-by {
  width: 100%;
  text-align: right;
  padding-right: 3rem;
}
.message-panel > .message-send {
  display: flex;
  align-items: center;
  /* gap: .5rem; */
  padding: 0.3rem 0rem 0.8rem 0.8rem;
}
.message-panel > .message-send > textarea {
  background-color: var(--bg-primary);
  outline: none;
  border: 1px solid #000;
  border-radius: var(--radius2);
  color: var(--color-accent2);
  padding: 0.8rem;
  flex: 1;
  resize: none;
  transition: 0.25s;
  height: 4rem;
  position: relative;
  /* max-height: 10rem; */
}
.message-panel > .message-send > textarea:focus {
  border-bottom: 1px solid var(--color-accent2);
}

.message-panel > .message-send > button {
  border: none;
  background-color: transparent;
  border-radius: 10rem;
  height: 3.6rem;
  width: 3.6rem;
  overflow: hidden;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.message-panel > .message-send > button > img {
  height: 60%;
}
.message-panel > .message-container {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.message-panel > .message-container .message-main.received:last-of-type > .message{
  animation: fromLeft 0.8s forwards;
}
@keyframes fromLeft {
  0%{
    transform: translateX(-150%);
  }
  100%{
    transform: translateX(0%);
  }
}
.message-panel > .message-container .message-main.sent:last-of-type > .message{
  animation: fromRight 0.8s forwards;
}
@keyframes fromRight {
  0%{
    transform: translateX(150%);
  }
  100%{
    transform: translateX(0%);
  }
}

@media all and (max-width: 650px) {
  .message-panel.faded{
    filter: blur(10px);
  }
}