.message-main {
  height: max-content;
  width: 100%;
  display: flex;
  padding: 0.05rem 1vw;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
}
.message-main.received {
  flex-direction: row-reverse;
}

.message-main > .message {
  max-width: 75%;
  min-width: min-content;
  border-radius: var(--radius2);
  padding: 0.4rem 0.6rem;
}
.message-main.received > .message {
  background-color: var(--color-accent);
  border-bottom-left-radius: 0px;
}
.message-main.sent > .message {
  border-bottom-right-radius: 0px;
  background-color: var(--color-accent2);
}
.message-main > .sent-at{
 opacity: 0;
  transition: 0.2s;
}
.message-main:hover > .sent-at{
 opacity: 1;
}
.message-main > .image {
  height: 2rem;
  width: 2rem;
  position: relative;
}
.message-main > .image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
